.containerForm {
  display: flex;
  align-items: center;
  width: 40%;
  padding: 0;
}

.btnLogout {
  background: none;
  color: white;
  border: none;
  text-decoration: underline;
  font-size: 15px;
  text-underline-offset: 1px;
  cursor: pointer;
}
