.header {
  display: flex;
  justify-content: space-around;
  background-color: #000;
  border-bottom: 1px solid #e6dbdb;
  padding: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentLeft,
.contentRight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentLeft {
  gap: 15px;
}

.navOption {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: all 0.2s ease;

  a {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
  }

  svg {
    width: 28px;
    height: 28px;
    color: #fff;
    transition: all 0.2s ease;
  }
}

.navOption:hover {
  a {
    color: #fbc02d;
    transform: scale(1.03);
  }

  svg {
    color: #fbc02d;
    transform: scale(1.03);
  }
}

.contentRight {
  width: 12%;
}

.containerSplit {
  display: flex;
  width: 100%;
}

.textContent {
  width: 70%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.p {
  font-size: 18px;
  color: white;
  width: 100%;
}

.btnProfile {
  color: white;
  font-size: 14px;
  text-underline-offset: 1px;
  width: 40%;
}

.containerImg {
  position: relative;
  width: 48px;
  height: 48px;
}

.img {
  object-fit: contain;
  border-radius: 50%;
}
